{{ colorRange main-color }}
<ul class="sd-colors">
    <li style="background-color: {{ main-color }};">
        <div class="sd-main-label">
            <span>Color principal</span>
            <span>{{ main-color }}</span>
        </div>
        <span class="sd-attr-label">$color-primary-50</span>
    </li>
</ul>